[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
pydantic-settings = "*"
pymongo = {version = "~=4.4.0", extras = ["aws", "srv"]}
pyjwt = {version = "*", extras = ["crypto"]}

[dev-packages]
uvicorn = "*"
isort = "*"

[requires]
python_version = "3.10"
